.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:24px;
    margin-bottom:34px;
}

.stat-card{

    display:flex;
    align-items:center;
    gap:20px;

    padding:28px;

    border-radius:22px;

    background:linear-gradient(
        180deg,
        #19132c,
        #120d22
    );

    border:1px solid rgba(255,255,255,.05);

    transition:.3s;

    position:relative;

    overflow:hidden;

    cursor: pointer;

}

.stat-card::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        135deg,
        rgba(255,255,255,.04),
        transparent
    );

    opacity:0;

    transition:.3s;

}

.stat-card:hover{

    transform:translateY(-6px);

    box-shadow:0 18px 40px rgba(139,92,246,.22);

}

.stat-card:hover::before{

    opacity:1;

}

.stat-icon{

    width:68px;
    height:68px;

    border-radius:18px;

    display:flex;
    align-items:center;
    justify-content:center;

    color:white;

    font-size:30px;

    flex-shrink:0;
    
    transition: .3s;

    box-shadow:
        0 0 30px rgba(139,92,246,.25),
        inset 0 0 18px rgba(255,255,255,.08);

}

.stat-info{

    display:flex;
    flex-direction:column;

}

.stat-info h2{

    font-size:30px;

    font-weight:700;

    color:white;

    line-height:1;

    margin-bottom:10px;

}

.stat-info p{

    color:#d4d2ea;

    font-size:18px;

    font-weight:600;

    margin-bottom:8px;

}

.stat-info span{

    color:#b794ff;

    font-size:14px;

    font-weight:500;

}

.stat-card.active{

    border:1px solid rgba(139,92,246,.45);

    box-shadow:
        0 0 0 1px rgba(139,92,246,.2),
        0 18px 40px rgba(139,92,246,.28);

    transform:translateY(-4px);

    transform: scale(.98);

}

.stat-card.active::before{

    opacity:1;

}



.stat-card:hover .stat-icon{

    transform:rotate(-6deg) scale(1.06);

}